.blog {
    text-align: left;
    margin-left:2em;
}
.blog a {
    color: #CCCCCC;
}
.blog h2 {
    margin-left:-1em;
}
.blog li {
    clear:both;
    margin:.25em;
}
.blog li img {
    float:left; 
    margin-right:.25em;
}