/* Style the HTML table that aligns the user input area */

#insertArea {
    margin-top: 1em;
    margin-left: 1em;
}

#insertArea table {
    margin: auto;
}

#insertArea td {
    padding: 8px;
    font-weight: bold;
    font-size:18px;
    min-width:200px
}