/* Style the HTML table that aligns the user input area */

#insertArea {
    margin-top: 1rem;
    margin-left: 1rem;
}

#insertArea table {
    margin: auto;
}

#insertArea th {
    padding: .5rem;
    font-weight: bold;
    font-size:2rem;
    min-width:11rem;
}

#insertArea td {
    padding: .66rem;
    font-size:1rem;
    min-width:11rem;
}

