html, body {
    height: 100%; /* fill the browser window */
}
body {
    background-image: url('../pics/medical-healthcare-background.jpg'); 
    background-position: left top;
    background-repeat: round; /* repeat and squish/stretch to fit */
    background-size: 95%;
}
div {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}


.title {
    z-index: 1;

    text-align: center;
    padding-bottom: 12px;
    font-size: 1.5em;
    float: left
}

.navigation {
    position: fixed;

    width: 98%;
    z-index: 1;
    padding: .1em;
    margin: .1em;
}
.content {
    text-align: center;
    height: auto;
    box-sizing: border-box; /* eliminates 100% + border which would cause a scroll bar */
    position: relative;
    padding-top: 3em;
    padding-bottom: 5em;
}
.footer {
    box-sizing: border-box; /* eliminates 100% + border which would cause a scroll bar */

    position: fixed; /* Relative to the viewport rather than the document 
                     /* and will remain in place when the user scrolls */
    z-index: 1;
    left: 20px;
    right: 20px;
    bottom: 10px;

    text-align: center;
    font-size: 2em;

    padding: .1em;
    margin : .1em;
}